<h1><%= @board.board %></h1>
<h2><%= @board.title %></h2>
<h3><%= @thread.no %></h3>

<ul>
<% @thread.db_posts.each do |post| %>
    <li><a href="/posts/<%= @board.board %>/<%= @thread.no %>/<%= post.no %>">
        <%= post.no %>
    </a></li>
<% end %>
</ul>
