
<h1>Topchan</h1>

<a href="/posts">All</a>
<%== DbBoard.all.map { |board| board.get_anchor }.join(" / ") %>

<% if @board.nil? %>
    <h2>All</h2>
<% else %>
    <h2>/<%= @board.board %>/ <%= @board.title %></h2>
<% end %>

<p>Posts <%= @num_posts %></p>

<%= render "pager" %>

<p>
<% if @omit_op %>
    <a href="<%= get_posts_query(@board, 0, !@omit_op) %>">Show OP</a>
<% else %>
    <a href="<%= get_posts_query(@board, 0, !@omit_op) %>">Hide OP</a>
<% end %>
</p>

<p>Showing <%= @from %> to <%= @to %> </p>

<ul>
<% @posts.each do |post| %>
    <li>
    <p>
    <a href="/posts/<%= post.get_path %>"><%= post.get_path %></a>
    <span>Replies <%= post.get_db_replies.count %></span>
    <a href="<%= post.get_4chan_link %>">
        Original
    </a>
    <% unless post.get_com.nil? %>
        <p><%== post.get_com %></p>
    <% end %>
    <!-- <p>References <%= post.get_db_refs.join(", ") %></p> -->
    <!-- <p>Replies <%= post.get_db_replies.join(", ") %></p> -->
    </li>
<% end %>
</ul>
