<p>Total posts <%= DbPost.count %></p>
<p>Page <%= @page %></p>

<a href="/posts/<%= @page - 1 %>"><< Prev</a>
<a href="/posts/<%= @page + 1 %>">Next >></a>

<p>Showing <%= @from %> to <%= @to %> </p>

<ul>
<% @posts.each do |post| %>
    <li>
    <p>
    <a href="/posts/<%= post.get_path %>"><%= post.get_path %></a> |
    <% unless (refs = post.get_refs).empty? %>
        References <%= refs.join(", ") %>
    </p>
    <% end %>
    <% unless post.get_com.nil? %>
        <p><%= post.get_com %></p>
    <% end %>
    </li>
<% end %>
</ul>
