
<%= stylesheet_link_tag "posts.css" %>

<h1 class="banner">Topchan</h1>

<a href="/posts">All</a>
<%== DbBoard.get_boards_with_posts.map { |board|
        board.get_anchor }.join(" / ") %>

<% if @board.nil? %>
    <h2 class="banner">All</h2>
<% else %>
    <h2 class="banner">/<%= @board.board %>/ <%= @board.title %></h2>
<% end %>

<p class="info">Posts <%= @num_posts %></p>

<%= render "pager" %>

<p>
<% if @omit_op %>
    <a href="<%= get_posts_query(@board, 0, !@omit_op) %>">Show OP</a>
<% else %>
    <a href="<%= get_posts_query(@board, 0, !@omit_op) %>">Hide OP</a>
<% end %>
</p>

<p class="info">Showing <%= @from + 1 %> to <%= @to %> </p>

<ul>
<% @posts.each do |post| %>
    <li class="post">
    <p class="post-header">
    <a href="<%= post.get_4chan_link %>" target="_blank"><%= post.get_path %></a>
    <span>|</span>
    <span class="info">Replies <%= post.get_db_replies.count %></span>
    <p>
    <% unless post.get_com.nil? %>
        <p class="post-text"><%== post.get_com %></p>
    <% end %>
    <!-- <p>References <%= post.get_db_refs.join(", ") %></p> -->
    <!-- <p>Replies <%= post.get_db_replies.join(", ") %></p> -->
    </li>
<% end %>
</ul>
